<div class="container-fluid align-items-center justify-content-center">
  <% if (msg !== '') {%>
  <div class="row vertical-center-row">
    <div class="col-3"></div>
    <div class="alert alert-success text-center col-6" role="alert"><%= msg %></div>
    <div class="col-3"></div>
  </div>
  <% } %>

  <div class="row">
    <div class="col"></div>
    <div class="col-6 border bg-light rounded">
      <br />
      <h5 align="center" class="table-striped navbartext">STUDIOS</h5>
      <a href="/studios" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#add">Add Studio</a>
      <br />
      <br />
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr align="center">
              <th width="5%">No</th>
              <th>Name</th>
              <th width="20%">Action</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% studios.forEach((std,index) => { %>
            <tr align="center">
              <td width="5%"><%= index + 1 %></td>
              <td><%= std.name %></td>
              <td width="20%">
                <a href="/api/studios/update/<%= std.id %>" class="btn btn-outline-primary">Edit</a>
                <a href="/api/studios/<%= std.id %>" class="btn btn-outline-primary">Delete</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <br />
    </div>
    <div class="col"></div>
  </div>
</div>

<!-- modal add -->
<div class="modal fade" id="add" tabindex="-1" aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title navbartext" id="addLabel">Add Studio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" method="post" action="/api/studios/">
          <div class="col-12">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" name="name" required value="" />
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
