<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head.ejs'); %>
    <title><%= title %></title>
  </head>
  <body>
    <header><%- include('./header.ejs'); %></header>
    <div class="container-fluid"><%- body %></div>
    <footer><%- include('./footer.ejs'); %></footer>
  </body>
</html>
